body {
  padding-top: 49px;
}

.navbar {
  position: relative;
  z-index: 1000;
  min-height: 49px;
  margin-bottom: 0px;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-dark {
  color: #fff;
  background-color: #4d4d4d;
  border-color: #3c3c3c;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.open .dropdown-toggle.btn-dark {
  color: #fff;
  background-color: #4d4d4d;
  border-color: #3c3c3c;
}

.btn-dark.active {
  color: #fff;
  background-color: #313131;
  border-color: #3c3c3c;
}

html,body {width:100%;height:100%;margin:0;padding:0;}

#map-page {
    position:absolute;
    height:auto;
    bottom:0;
    top:50px;
    left:0;
    right:50;
}

#sidebar {
    position: absolute;
    height: auto;    
    right: 0;
    top:50px;
    bottom: 0;
    width: 50px;
}

.chart {
    width: 100%;
    height: 300px;
}
